.grid-container {
    display:grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.form-floating{
    margin-top:5px;
    border-style:solid;
    border-radius:3px;
    width:300px;
    border-width:1px;
    text-align:center;
    transform:translate(17vw,30vh);
}

#SubmitBtn{
    margin-top:5px;
    transform:translate(17vw,30vh);
}

#grid2{
    transform:translate(10vw,20vh);
}

#table{
    border-width:5px;
    border-radius:5px;
    border-color:#427598;
}

tr:nth-child(even){
    background-color:#ffe3c6;
}

#reset{
    margin-top:5px;
    transform:translate(17vw,30vh);
}